[buildout]

extends =
  ../../stack/lamp/buildout.cfg

[application]
recipe = slapos.recipe.build:download-unpacked
url = https://github.com/lbesson/slapos/raw/master/software/lamp-template/test.zip
md5sum = e686ac39ab2bc9118d673017bf4283e3
#If provided tarball does not contain top directory, option shall be changed to false
strip-top-level-dir = false

[application-template]
recipe = slapos.recipe.download
url = ${:_profile_base_location_}/template/php2.ini.in
#md5sum = Student may put here md5sum of this file, this is good idea
filename = template.in
mode = 0644
location = ${buildout:parts-directory}/${:_buildout_section_name_}

[application-configuration]
location = php.ini
